Source: rainloop
Section: web
Priority: optional
Maintainer: Daniel Ring <dring@wolfishly.me>
Build-Depends:
 debhelper (>= 9),
 , nodejs (>= 4),
 , cleancss
 , node-less
 , node-uglify
 , webpack
 , node-babel-core
 , node-babel-preset-env
 , node-babel-preset-stage-0
 , node-babel-plugin-transform-runtime
 , node-babel-plugin-transform-decorators-legacy
 , node-babel-loader
 , node-json-loader
 , node-raw-loader
 , node-style-loader
 , node-autolinker
 , node-classnames
 , node-normalize.css
 , node-pikaday
 , node-simplestatemanager
 , libjs-jquery-mousewheel
 , libjs-jquery-lazyload
 , libjs-moment
 , libjs-underscore
Standards-Version: 4.1.2
Homepage: https://rainloop.net/
Vcs-Git: https://github.com/techwolfy/rainloop-webmail.git
Vcs-Browser: https://github.com/techwolfy/rainloop-webmail

Package: rainloop
Architecture: all
Depends: ${misc:Depends},
 php-fpm (>= 5.4) | libapache2-mod-php (>= 5.4),
 php-curl,
 php-json,
 php-pclzip,
 php-guzzlehttp,
 php-seclib,
 libphp-predis,
 php-sabre-dav,
 php-sabre-vobject
Suggests: php5-sqlite | php5-mysql | php5-pgsql
Description: Simple, modern & fast web-based email client
 Rainloop is a PHP-based MUA with a modern interface and no database
 requirements.
 .
 It supports IMAP and SMTP protocols (including SSL), Sieve scripts, multiple
 accounts and identities, an admin panel for configuration, and integration
 with a variety of commonly-used services. Plugins can be installed to further
 extend functionality. Emails are not stored locally, but are accessed through
 IMAP.
