Source: rainloop
Section: web
Priority: optional
Maintainer: Daniel Ring <dring@wolfishly.me>
Build-Depends:
 debhelper (>=9),
 nodejs (>=6) | npm (>=3)
Standards-Version: 3.9.8
Homepage: https://rainloop.net/
Vcs-Git: https://github.com/techwolfy/rainloop-webmail.git
Vcs-Browser: https://github.com/techwolfy/rainloop-webmail

Package: rainloop
Architecture: all
Depends: ${misc:Depends},
 php-fpm (>= 5.4) | libapache2-mod-php (>= 5.4),
 php-curl,
 php-json,
 php-pclzip,
 php-guzzlehttp,
 php-seclib,
 libphp-predis,
 php-sabre-dav,
 php-sabre-vobject
Suggests: php5-sqlite | php5-mysql | php5-pgsql
Description: Simple, modern & fast web-based email client
 Rainloop is a PHP-based MUA with a modern interface and no database
 requirements.
 .
 It supports IMAP and SMTP protocols (including SSL), Sieve scripts, multiple
 accounts and identities, an admin panel for configuration, and integration
 with a variety of commonly-used services. Plugins can be installed to further
 extend functionality. Emails are not stored locally, but are accessed through
 IMAP.
