#!/usr/bin/make -f

# Output every command that modifies files on the build system
export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	npm install --save-dev

override_dh_auto_build:
	rm -rf rainloop/v/0.0.0/app/libraries/pclzip/
	rm -rf rainloop/v/0.0.0/app/libraries/GuzzleHttp/
	rm -rf rainloop/v/0.0.0/app/libraries/phpseclib/
	node_modules/gulp/bin/gulp.js rainloop:start
