#!/usr/bin/make -f

# Output every command that modifies files on the build system
export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	npm install --save-dev

override_dh_auto_build:
	rm -rf rainloop/v/0.0.0/app/libraries/pclzip/
	rm -rf rainloop/v/0.0.0/app/libraries/GuzzleHttp/
	rm -rf rainloop/v/0.0.0/app/libraries/phpseclib/
	rm -rf rainloop/v/0.0.0/app/libraries/Predis/
	rm -rf rainloop/v/0.0.0/app/libraries/SabreForRainLoop/
	node_modules/gulp/bin/gulp.js rainloop:start

override_dh_fixperms:
	dh_fixperms
	chown -R www-data:www-data debian/rainloop/var/lib/rainloop
